.body{
    height: 900px;
    width: 2500px;
    display: flex;
    font-family: 'poppins',sans-serif;
}
.leftside{
    height: 700px;
    width: 1000px;
    background-color: cornflowerblue;
    padding-top: 250px;
}
.rightside{
    height: 950px;
    width: 2000px;
}
.top{
    height: 350px;
    width: 700px;
    padding-top: 50px;
    padding-left: 30px;
}
.bottom{
    height: 550px;
    width: 700px;
    padding-left: 30px;
}
